
// Buttons
$bgcolorButton: #4285FD;
$bgcolorButtonDark: #3b78e7;

// Borders
$borderTransparent: rgba(0, 0, 0, 0);
$borderLightBlue: #4285F4;
$borderLightGrey: #ebebeb;
$borderDarkBlue: #3367d6;
$borderFooter: #e4e4e4;

// Text
$linksColorBlue: #1A0DAB;
$textColorBlue: $borderLightBlue;
$textColorRed: #EA4335;
$textColorOak: #FBBC05;
$textColorGreen: #34A853;
$textColorGrey: #424242;
//footer
$bgcolorFooter : #f2f2f2;
$textColorFooter: #9e9e9e;
$linksColorFooter: #777777;
$linksHoverFooter: #333333;
